<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(type='none')"/>

<body>

<div class="container">
    <!--    <div><h2>Maintenance Station | [[${pageTitle}</h2></div>-->

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Description</th>
            <th scope="col">Inspection result</th>
            <th scope="col">Order readiness by mechanics</th>
            <th scope="col">Order readiness by administrator</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ordersDto, countLine:${acceptedOrdersDtoByAdministratorList}">
            <td th:text="${countLine.index + 1}">Count Line</td>
            <td th:text="${ordersDto.ordersDescription}">Description</td>
            <td th:text="${ordersDto.ordersInspectionResult}">Inspection Result</td>
            <td></td>
            <td></td>
            <td>
                <a th:href="@{/orders/editOrders/{id}(id=${ordersDto.ordersId})}"
                   class="btn btn-primary eBtn">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
