<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(type='none')"/>

<body>
<div th:replace="fragments::menu">Static header</div>
<div class="container">
    <!--    <div><h2>Maintenance Station | [[${pageTitle}</h2></div>-->
    <button type="button" class="btn btn-success" onclick='location.href="/client/saveClient"'>
        Add New Client
    </button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Number passport</th>
            <th scope="col">List own cars</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clientDto, countLine:${clientDtoList}">
            <td th:text="${countLine.index + 1}">Count Line</td>
            <td th:text="${clientDto.clientName}">Name</td>
            <td th:text="${clientDto.clientLastName}">LastName</td>
            <td th:text="${clientDto.clientDetails.clientDetailsNumberPassport}">Number Passport</td>
            <td><a th:href="@{/client/ownCars/{id}(id=${clientDto.clientId})}">Own cars</a></td>
            <td>&nbsp;
                <a th:href="@{/client/editClient/{id}(id=${clientDto.clientId})}"
                   class="btn btn-primary eBtn">Edit</a>
                <a th:href="@{/client/deleteClient/{id}(id=${clientDto.clientId})}"
                   class="btn btn-danger delBtn">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <!--         #Modal for removing Client -->
    <div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalCenterTitle">Attention!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are You sure You want to delete this Client?
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!--     #End modal form for removing Client-->

</div>
<div th:replace="fragments::footer">Static footer</div>

</body>
</html>
