<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(type='none')"/>

<body>

<div class="container">
    <!--    <div><h2>Maintenance Station | [[${pageTitle}</h2></div>-->
    </table>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Model</th>
            <th scope="col">Color</th>
            <th scope="col">Number</th>
            <th scope="col">Type engine</th>
            <th scope="col">Value engine</th>
            <th scope="col">Type transmission</th>
            <th scope="col">Type body</th>
            <th scope="col">Year of issue</th>
            <th scope="col">Order list for car</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carDto, countLine:${ownCarsList}">
            <td th:text="${countLine.index + 1}">Count Line</td>
            <td th:text="${carDto.carModel}">Model</td>
            <td th:text="${carDto.carColor}">Color</td>
            <td th:text="${carDto.carNumber}">Number</td>
            <td th:text="${carDto.carDetails.carDetailsTypeEngine}">Type engine</td>
            <td th:text="${carDto.carDetails.carDetailsValueEngine}">Value engine</td>
            <td th:text="${carDto.carDetails.carDetailsTypeTransmission}">Type transmission</td>
            <td th:text="${carDto.carDetails.carDetailsTypeBody}">Type body</td>
            <td th:text="${carDto.carDetails.carDetailsYearOfIssue}">Year of issue</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
