<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit administrator</title>
</head>
<body>
<div align="center">
    <h1>Edit Adminostrator</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${administrator}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Administrator ID:</td>
                <td>
                    <input type="text" th:field="*{administratorId}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>Administrator Name:</td>
                <td>
                    <input type="text" th:field="*{administratorName}"/>
                </td>
            </tr>

            <tr>
                <td>Administrator LastName:</td>
                <td>
                    <input type="text" th:field="*{administratorLastName}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>