<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:fragment="html_head (type)" th:remove="${type}">
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]-Maintenance Station</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/bottom.css}" src="../static/bottom.css"></script>
    <script type="text/javascript" th:src="@{/main.js}" src="../static/main.js"></script>
    <meta charset="utf-8"/>
</head>
<body>

<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Maintenance Station</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/administrator/">Administrators</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/orders/listOrders">Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/workList/ ">Work list</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/mechanic/ ">Mechanics</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/sparePart/ ">Spare parts</a>
                </li>

            </ul>
        </div>
    </nav>
</div>


<div th:fragment="footer" class="text-center">
    <p>Maintenance Station Web App - Copyright &copy; Maintenance Station 2022 </p>
</div>
</body>
</html>