<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <div th:replace="fragments :: html_head(type='none')"/>
</head>

<section class="vh-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                &#128736;&#65039;
            </div>

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>

                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form th:action="@{/login}" method="post">
                    <!-- login input -->
                    <div class="form-outline mb-4">
                        <label class="form-label"> User Name : <input type="text" name="username"/> </label>
                    </div>

                    <!-- password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label"> Password: <input type="password" name="password"/></label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </form>
            </div>
</section>

</body>
</html>