<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--<section class="container">-->
<!--    <div class="login">-->
<!--        <h1>Войти в личный кабинет</h1>-->
<!--        <form th:action="@{/login}" method="post">-->
<!--            <p><input type="text" name="username" value="" placeholder="Логин или Email"></p>-->
<!--            <p><input type="password" name="password" value="" placeholder="Пароль"></p>-->
<!--            <p class="remember_me"></p>-->
<!--            <p class="submit"><input type="submit" name="commit" value="Войти"></p>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->
<div>
    <a th:href="@{'/login'}">Войти</a>
</div>
</body>
</html>