<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(type='none')"/>

<body>
<div th:replace="fragments::menu">Static header</div>
<div class="container">
    <!--    <div><h2>Maintenance Station | [[${pageTitle}</h2></div>-->
    <button type="button" class="btn btn-success" onclick='location.href="/mechanic/saveMechanic"'>
        Add New Mechanic
    </button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Experience</th>
            <th scope="col">Salary</th>
            <th scope="col">Work list</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mechanicDto, countLine:${mechanicDtoList}">
            <td th:text="${countLine.index + 1}">Count Line</td>
            <td th:text="${mechanicDto.mechanicName}">Name</td>
            <td th:text="${mechanicDto.mechanicLastName}">LastName</td>
            <td th:text="${mechanicDto.mechanicDetails.mechanicDetailsExperience}">Experience</td>
            <td th:text="${mechanicDto.mechanicDetails.mechanicDetailsSalary}">Salary</td>
            <td></td>
            <td>&nbsp;
                <a th:href="@{/mechanic/editMechanic/{id}(id=${mechanicDto.mechanicId})}"
                   class="btn btn-primary eBtn">Edit</a>
                <a th:href="@{/mechanic/deleteMechanic/{id}(id=${mechanicDto.mechanicId})}"
                   class="btn btn-danger delBtn">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <!--         #Modal for removing Mechanic -->
    <div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalCenterTitle">Attention!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are You sure You want to delete this Mechanic?
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!--     #End modal form for removing Mechanic-->
</div>
<div th:replace="fragments::footer">Static footer</div>
</body>
</html>
