<!DOCTYPE html>
<html lang="en" xmlns:actionth="http://www.w3.org/1999/xhtml">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>

<head th:replace="fragments ::html_head(type='none')"/>

<body>

<div class="container text-center">
    <div th:if="${ordersDto.ordersId == null}">
        <h1>Create New Order</h1>
    </div>

    <div th:unless="${ordersDto.ordersId == null}">
        <h1>Edit Order</h1>
    </div>

    <form action="#" th:action="@{/orders/saveOrder}" method="POST">
        <input type="hidden" th:field="*{ordersDto.ordersId}"/>

        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Order description:</label>
                <div class="col-sm-8">
                    <input type="text"
                           th:field="*{ordersDto.ordersDescription}"
                           id="ordersDto.ordersDescription"
                           class="form-control"
                           placeholder="Например:Что-то стучит в моторе..." required/>
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('ordersDto.ordersDescription')}"
                         th:errors="*{ordersDto.ordersDescription}"></div>
                </div>
            </div>

            <div class=" form-group row">
                <label class="col-form-label col-sm-4">Order inspection result:</label>
                <div class="col-sm-8">
                    <input type="text"
                           th:field="*{ordersDto.ordersInspectionResult}"
                           id="administratorDto.administratorLastName"
                           class="form-control"
                           placeholder="Например:В результате осмотра было выявленно,что причиной шума являеться грымыхание моторной цепи."
                           required/>
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('ordersDto.ordersInspectionResult')}"
                         th:errors="*{ordersDto.ordersInspectionResult}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4">Administrator:</label>
                <div class="col-sm-6">
                    <select name="administratorId" class="form-control" required>
                        <th:block th:each="administratorDto:${administratorDtoList}">
                            <option  th:text="${administratorDto.administratorName}"
                                    th:value="${administratorDto.administratorId}"/>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/orders/" class="btn btn-danger">Back</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>

