<!DOCTYPE html>
<html lang="en" xmlns:actionth="http://www.w3.org/1999/xhtml">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>

<head th:replace="fragments ::html_head(type='none')"/>

<body>

<div class="container text-center">
    <div th:if="${sparePartDto.sparePartId == null}">
        <h1>Create New SparePart</h1>
    </div>

    <div th:unless="${sparePartDto.sparePartId == null}">
        <h1>Edit SparePart</h1>
    </div>

    <form action="#" th:action="@{/sparePart/saveSparePart}" method="POST">
        <input type="hidden" th:field="*{sparePartDto.sparePartId}"/>

        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">SparePart Name:</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           th:field="*{sparePartDto.sparePartNamePart}"
                           name="sparePartDto.sparePartNamePart"
                           placeholder="Например:Корпус воздушного фильтра" required>
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('sparePartDto.sparePartNamePart')}"
                         th:errors="*{sparePartDto.sparePartNamePart}">Administrator Name Error
                    </div>
                </div>
            </div>

            <div class=" form-group row">
                <label class="col-form-label col-sm-4">SparePart Brand:</label>
                <div class="col-sm-8">
                    <input type="text"
                           th:field="*{sparePartDto.sparePartBrand}"
                           id="sparePartDto.sparePartBrand"
                           class="form-control"
                           placeholder="Например:Полессье" required/>
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('sparePartDto.sparePartBrand')}"
                         th:errors="*{sparePartDto.sparePartBrand}"></div>
                </div>
            </div>

            <div class=" form-group row">
                <label class="col-form-label col-sm-4">SparePart Coast:</label>
                <div class="col-sm-8">
                    <input type="text"
                           th:field="*{sparePartDto.sparePartCoast}"
                           id="sparePartDto.sparePartCoast"
                           class="form-control"
                           placeholder="Например:100 р" required/>
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('sparePartDto.sparePartCoast')}"
                         th:errors="*{sparePartDto.sparePartCoast}"></div>
                </div>
            </div>

            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/administrator/" class="btn btn-danger">Back</a>
            </div>
        </div>
    </form>

</div>
</body>
</html>
