<!DOCTYPE html>
<html lang="en" xmlns:actionth="http://www.w3.org/1999/xhtml">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>

<head th:replace="fragments ::html_head(type='none')"/>

<body>

<div class="container text-center">
    <div th:if="${workListDto.workListId == null}">
        <h1>Create New WorkList</h1>
    </div>

    <div th:unless="${workListDto.workListId == null}">
        <h1>Edit WorkList</h1>
    </div>
    <div>
        <form action="#" th:action="@{/workList/saveWorkList}"
              method="post">
            <input type="hidden" th:field="*{workListDto.workListId}"/>

            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">WorkList Name:</label>
                    <div class="col-sm-8">
                        <input type="text"
                               th:field="*{workListDto.workListName}"
                               class="form-control"
                               required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">WorkList Coast:</label>
                    <div class="col-sm-8">
                        <input type="text"
                               th:field="*{workListDto.workListCoast}"
                               class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Mechanics:</label>
                    <div class="col-sm-6 text-left">
                        <th:block th:each="mechanicDto:${mechanicDtoList}">
                            <div>
                                <!--                                       th:checked="*{workListDto.mechanic}"-->
                                <input type="checkbox" name="mechanicsList"
                                       th:value="${mechanicDto.mechanicId}"
                                       th:text="${mechanicDto.mechanicName}"
                                value="on"
                                class="m-2"/>
                                <input type="hidden" th:text="${mechanicDto.mechanicLastName}"
                                       class="m-2"/>

                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Spare parts:</label>
                    <div class="col-sm-6 text-left">
                        <th:block th:each="sparePartDto:${sparePartDtosList}">
                            <div>
                                <input type="checkbox" name="sparePartsList"
                                       th:value="${sparePartDto.sparePartId}" class="m-2"/>
                                <td th:text="${sparePartDto.sparePartNamePart}">Spare part</td>

                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="text-center p-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/workList/listWorkList" class="btn btn-danger">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>

