<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(type='none')"/>


<body>
    <div th:replace="fragments::menu">Static header</div>
    <div class="container">
    <!--    <div><h2>Maintenance Station | [[${pageTitle}</h2></div>-->
    <button type="button" class="btn btn-success" onclick='location.href="/workList/addFormWorkList"'>
        Add New WorkList
    </button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Coast</th>
            <th scope="col">Mechanics</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workListDto, countLine:${workListDtosList}">
            <td th:text="${countLine.index + 1}">Count Line</td>
            <td th:text="${workListDto.workListName}">Name</td>
            <td th:text="${workListDto.workListCoast}">Coast</td>
            <td>
        <span th:each="mechanic,irerStat:${workListDto.mechanic}">
        <span th:text="${mechanic.mechanicName}"/>
        <span th:text="${mechanic.mechanicLastName}"/>
        <th:block th:if="${!irerStat.last}">,</th:block>
        </span>
            </td>
            <td>&nbsp;
                <a th:href="@{/workList/editWorkList/{id}(id=${workListDto.workListId})}"
                   class="btn btn-primary eBtn">Edit</a>
                <a th:href="@{/workList/deleteWorkList/{id}(id=${workListDto.workListId})}"
                   class="btn btn-danger delBtn">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <!-- #Modal for removing WorkList -->
    <div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalCenterTitle">Attention!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are You sure You want to delete this WorkList?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- #End modal form for removing WorkList -->
</div>
    <div th:replace="fragments::footer">Static footer</div>
</body>
</html>
